PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "College" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "year" INTEGER NOT NULL,
    "college_name" TEXT NOT NULL,
    "choice_code" TEXT NOT NULL,
    "course_name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "rank" INTEGER NOT NULL,
    "percentile" REAL NOT NULL,
    "city" TEXT,
    "type" TEXT,
    "autonomous" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);
CREATE INDEX "College_year_idx" ON "College"("year");
CREATE INDEX "College_college_name_idx" ON "College"("college_name");
CREATE INDEX "College_course_name_idx" ON "College"("course_name");
CREATE INDEX "College_category_idx" ON "College"("category");
CREATE INDEX "College_city_idx" ON "College"("city");
COMMIT;
